@import "../../utils/css/vars.css";
.cover div {
  white-space: pre-wrap;
}
.cover {
  font-weight: bold;
  flex-direction: column;
  display: flex;
  max-width: 60%;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  line-height: 2em;
  padding: 1em;
  height: 90vh;
  font-size: 8rem;
}
.cover h1 {
  font-size: 8rem;
}

@media (max-width: 700px) {
  .cover {
    font-size: 4rem;
    }
    .cover h1  {
      font-size: 4rem;

    }
}