@import "../../utils/css/vars.css";
.cover div {
  white-space: pre-wrap;
}
.cover {
  font-size: 8vmin;
  font-weight: bold;
  flex-direction: column;
  display: flex;
  max-width: 60%;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  line-height: 2em;
  padding: 1em;
  height: 90vh;
}
