@import "../../utils/css/vars.css";

.intro-section {
  font-size: 3.5rem;
  line-height: 1.5em;
  align-items: flex-start;
  /* margin: 2em; */
  padding: 2em;
  }

@media (max-width: 500px) {
  .intro-section {
        font-size: 2.6rem;
      padding: 1em;
    }
}