@import "../../utils/css/vars.css";

.dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.dots li
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 40px;
    height: 40px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    box-shadow: none;
}
.dots li button:hover,
.dots li button:focus
{
    outline: none;
}
.dots li button:hover:before,
.dots li button:focus:before
{
    opacity: 1;
}
.dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.quote-container:hover {
  cursor: grab;
}

.testimonials h2{
  padding-bottom: 1em;
}
.quote-container .quote {
  position: relative;
  z-index: 600;
  margin: 0;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.6 !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--color-base);
} 
.quote-container .quote p {
  position: relative;
  margin-bottom: 20px;
}
.quote-container .quote p:first-child:before {
  content: '\201C';
  color: var(--color-secondary);
  font-size: 5em;
  font-weight: 700;
  position: absolute;
  top: -0.3em;
  left: -0.6em;
  text-shadow: none;
  z-index: -10;
}
.quote-container .quote cite {
  display: block;
  font-size: 0.8em;
  font-family: var(--font-sans-serif);
  font-weight: normal;
}
.quote-container .quote cite span {
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.dragging .quote-container {
  cursor: grabbing;
}