@import "../../utils/css/vars.css";

h2 {
  background-image: linear-gradient(120deg, var(--color-secondary) 0%, var(--color-secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 99%;
  transition: background-size 0.25s ease-in;
}

.slick-dots li button {
  box-shadow: none;
}
.quote-container:hover {
  cursor: grab;
}

.testimonials h2{
  padding-bottom: 1em;
}
.quote-container .quote {
  position: relative;
  z-index: 600;
  margin: 0;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.4 !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
.quote-container .quote p {
  position: relative;
  margin-bottom: 20px;
}
.quote-container .quote p:first-child:before {
  content: '\201C';
  color: var(--color-secondary);
  font-size: 5em;
  font-weight: 700;
  position: absolute;
  top: -0.3em;
  left: -0.6em;
  text-shadow: none;
  z-index: -10;
}
.quote-container .quote cite {
  display: block;
  font-size: 0.8em;
  font-family: var(--font-sans-serif);
  font-weight: normal;
}
.quote-container .quote cite span {
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.dragging .quote-container {
  cursor: grabbing;
}